/* Basic styles for all three layouts */

ul, li, a, p{ padding: 0; margin:0;}
body {
	font: 100%/1.3 Arial, Helvetica, sans-serif;
	margin: 0;
}
header, section, aside, footer, ul, li, a, nav, button{
	display: block;
}
header, footer {
	padding: 0.5em 0 0 1em;
}
nav {
	min-height: 15em;
}
section {
	padding: 0.5em;
	width: 100%; height: 15em;
}
ul{
	list-style: none;
}
li {
	float: left;
	padding: 0.5em;
}
li img{
	width: 50px; height: 50px;
	border: 0.15em solid gray;
}
li img:hover{
	border: 0.15em solid blue;
	cursor: hand;
}
footer{
	clear:left;
}
button{
	padding: 0.1em;
}
#csimeditor{ display: none; }
#contenedor{
	display: block;
	width: 90%; height: 100%;
}

.ui-draggable-dragging { z-index: 2 }

@media all and (min-width: 30em) {
	nav {
		min-height: 10em;
	}
	section{ height: 20em}
}

@media all and (min-width: 50em) {
	nav {	
		width: 20%;
		float: left;
	}
	nav button{ clear:left; }
	section {	
		width: 75%; height: 30em;
		float: left;
	}
	footer {
		clear: both;
	}
}

@media all and (min-width: 75em) {
	body {
		width: 80%;
		margin: auto;
	}
}